<html>
    <head>
        <title>Account Suspension Notice</title>
    </head>
    <body style='font-family: Arial, sans-serif; color: #333;'>
        <div
            style='max-width: 600px; margin: auto; border: 1px solid #ddd; padding: 20px;'
        >
            <header style='text-align: center;'>
                <h1 style='color: #dc3545;'>Important: Account Suspension</h1>
            </header>
            <section>
                <p>Dear {{vendorName}},</p>
                <p>We regret to inform you that your account with Terminus Drive
                    has been suspended due to
                    {{reasonForSuspension}}. During this time, you will not be
                    able to receive new orders.</p>
                <p>To resolve this matter and discuss the possibility of
                    reinstating your account, please contact us immediately.</p>
            </section>
            <footer style='text-align: center; margin-top: 20px;'>
                <p>We hope to resolve this situation promptly.</p>
                <p style='color: #aaa;'>&copy; 2026 Terminus Drive Limited</p>
            </footer>
        </div>
    </body>
</html>